h1{
    margin:0 auto;
    margin-top:20px;
    margin-bottom:20px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    border-left:solid 5px red;
    background-color:whitesmoke;
    font-size:25px;
    width:600px;
}
form{
    margin:0 auto;
    background-color:whitesmoke;
    border:solid 2px #f0f0f0;
    border-radius:8px;
    width:600px;
}
form div{
    padding:10px;
}
.text,textarea,dropdown{
    border:solid 1px gray;
    padding:3px;
}
.submit{
    padding:5px 10px;
    color:white;
    background-color:lightgray;
    border:solid 1px #f0f0f0;
    border-radius:5px;
    border-bottom:solid 2px gray;
    border-right:solid 2px gray;
}